
header{
   display: flex;
   flex-direction: row-reverse;
   align-items: center;

}

 footer{
    background-color: $color-footer;
    color: $color-white;
    @include flex-column;
    h1{
      font-size: 1.1em;
      font-weight: 300;
      }
    a{
      color: $color-white;
      width: 50%;
      margin: 3% 0% 3% 0%;
      font-size: 1em;
     }
     a:hover{
       color: $color-primary;
     }
     div{
      margin: 0% 5% 2% 5%;
     }
 }

 .footer_a{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;

   &:hover{
      color: $color-primary;
   }
}

#footer_icon1{
   margin: 0% 0% 0% -4px;
}

#footer_icon2{
   margin: 0% -70px 0% -40px;
}



 #Explore_section{
   @include Major-blocs ;
   background-color: $color-box-background;
   height: 340px;

   h2{
      margin: 9% 0% 0% 0%;
   }
   p{
      margin-bottom: 7%;
      color: grey;
   }
   h2 , p{
      width: 67%;
      text-align: center;
   }
 }

 #Explore_section form{
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   background-color: #eaeaea;

   input{
       width: 100%;
       padding: 15px 50px;
       border: none;
       background-color: #eaeaea;
       color: black;
       font-weight: 700;
       font-size: 1em;
       margin: 0;
   }
   input:focus{
      outline: none;
   }
   i{
      margin: 0% -8% 0% 30%;
   }
}

.button_color_secondary{
   display: inline-block;
   background: linear-gradient($color-secondary, $color-primary);
   color: $color-white;
   border: none;
   border-radius: 26px;
   padding: 17px 18px;
   font-size: 15px;
   cursor: pointer;
   box-shadow: 0px 10px 21px -16px rgba(0,0,0,0.57);
   &:hover{
       background: linear-gradient($color-primary, $color-secondary); ;
   }
}

#Fonctionnement{
   color: black;
   h2{
      margin: 10% 0% 7% 5%
   }
   &_bloc{
      @include Major-blocs ;
   }
      button{
         color: black;
         background-color: $color-box-background;
         width: 90%;
         padding: 20px 30px;
         border-radius: 20px;
         border: none;
         font-size: 1em;
         cursor: pointer;
         margin-bottom: 5%;
         box-shadow: 0px 10px 21px -16px rgba(0,0,0,0.57);
      }
      button i{
         color: grey;
         margin-right: 7%;
      }
      button:hover{
         background-color: $color-button-hover ;
      }
      button:hover i { color: $color-primary };
      p{
         color: $color-white;
         border-radius: 50%;
         background-color: $color-primary;
         width: 5%;
         padding: 4px 5px;
         font-size: 0.9em;
         margin: 0% 7% 0% -12%;
      }
}

.Fonctionnement_bloc-text{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 3% 0% 0% 0%;
   div{
      display: flex;
      margin-right: 7%;
   }
}

#restaurants{
   width: 100%;
   height: 1200px;
   margin-top: 10%;
   background-color: $color-box-background;
     h2{
        padding: 12% 0% 0% 5%;
      }
     &_bloc{
        @include flex-column;
        background-color: $color-box-background;
        width: 90%;
        margin: auto;
     }
     &_bloc-new{
      width: 100%;
     }
  }

.restaurants_card{
   position: relative;
  background-color: $color-white;
  border-radius: 20px;
  height: 240px; 
  margin-bottom: 5%;
  box-shadow: 0px 10px 21px -16px rgba(0,0,0,0.57);
  ul{
      list-style: none;
      margin: 5% 0% 0% -7%;
   }
   li{
      font-size: 1.1em;
      margin: 0% 0% 3% 0%;
   }
   &:hover{
      background-color: $color-button-hover;
   }
  &-text{
     display: flex;
     align-items: center;
     justify-content: space-between;
     i{
      margin-right: 7%;
      color: $color-primary;
     }
  }
  &-img{
     width: auto;
     height: 160px; 
     object-fit: cover;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
  }
  &-new{
   width: 21%;
   position: absolute;
   right: 12px;
   top: 12px;
   padding: 6px 0;
   border-radius: 2px;
   background-color: #99E2D0;
   text-align: center;
   font-size: 0.9rem;
   font-weight: 600;
   color: #278870;
  }
}