

span{
    font-weight: $gras;
}

h1{
    font-family: $policy_logo_title;
}

a{
    text-decoration: none;
    @include flex-column;
	color: black;
}

#logo_Ohmyfood{
    width: 40%;
    height: auto;
    background-color: $color-white;
    margin: 5% 30% 3% 10%;
}


