

span{
    font-weight: $gras;
}

h1{
    font-family: $policy_logo_title;
}

h3{
    font-weight: 500;
}

h6{
    display: none;
}

a{
    text-decoration: none;
    @include flex-column;
	color: black;
}

#logo_Ohmyfood{
    width: 40%;
    max-width: 400px;
    min-width: 169px;
    height: auto;
    background-color: $color-white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.retour{
    position: absolute;
    left: 25px;
    top: 43px;
}

#button_box{
    background-color: $color-box-background;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

#button_box2{
    background-color: $color-box-background;
    display: flex;
    justify-content: center;
    padding: 100px 0 80px 0;
}


#resto_button{
    display: inline-block;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-white;
    border: none;
    border-radius: 26px;
    padding: 17px 60px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 10px 21px -16px rgba(0,0,0,0.57);
    margin-top: 50px;
    &:hover{
        background: linear-gradient($color-primary, $color-secondary); ;
    }
}
