
.button_color_secondary{
    display: inline-block;
    background: linear-gradient($color-secondary, $color-primary);
    color: $color-white;
    border: none;
    border-radius: 26px;
    padding: 13px 18px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 10px 21px -16px rgba(0,0,0,0.57);
    &:hover{
        background: linear-gradient($color-primary, $color-secondary); ;
    }
}

span{
    font-weight: $gras;
}

h1{
    font-family: $policy_logo_title;
}

a{
    text-decoration: none;
    @include flex-column;
	color: black;
}

#logo_Ohmyfood{
    width: 40%;
    height: auto;
    background-color: $color-white;
    margin: 5% 30% 5% 10%;
}


