/* colors*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-invalid: #db464b;


/* Fonts-weight */ 

span{
    font-weight: 700;
}

/* Policy */

$policy_logo_title: 'Shrikhand', cursive;
$policy_text: 'Roboto', sans-serif;