
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-invalid: #db464b;
$color-footer: #353535;
$color-box-background: #f6f6f6;
$color-button-hover: #f5edff;
$color-resto-page: #99e2d0;


$gras: 700;

$policy_logo_title: 'Shrikhand', cursive;
$policy_text: 'Roboto', sans-serif;

 
$margin-main-box: 0px 5%;