
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-invalid: #db464b;
$color-footer: #353535;
$color-box-background: #f5f5f5c9;


$gras: 700;

$policy_logo_title: 'Shrikhand', cursive;
$policy_text: 'Roboto', sans-serif;



$width-site: 425px;
$logo-size: 50%;
 


$margin-main-box: 0px 5%;